@charset "UTF-8";
/* Конвертирует px в rem. Основная единица rem */
/* Конвертирует px в em. Основная единица em */
/* Конвертирует px в vw. Основная единица viewWidth */
/* Конвертирует px в vh. Основная единица viewHeight */
/* Get percent based on width */
/* Ggrid flex */
/* $columns = number {how much do you have columns in your grid layouts} */
/* END */
/*  element transition loop  */
/*  element animation loop  */
/*  END  */
/* SPACES */
/* end SPACES */
:root {
  --scroll-width: 0px;
  /* Base font-size */
  --base-fz: 16;
  --f-min: 12;
  --f-min-px: 12px;
  --f-max: 16;
  --vw-min: 1024;
  --vw-min-px: 1024px;
  --vw-max: 1920;
  /* Base spaces */
  --space-10: 0.5208333333vw;
  --space-15: 0.78125vw;
  --space-20: 1.0416666667vw;
  --space-25: 1.3020833333vw;
  --space-30: 1.5625vw;
  --space-35: 1.8229166667vw;
  --space-40: 2.0833333333vw;
  --space-45: 2.34375vw;
  --space-50: 2.6041666667vw;
  --space-55: 2.8645833333vw;
  --space-60: 3.125vw;
  --space-65: 3.3854166667vw;
  --space-70: 3.6458333333vw;
  --space-75: 3.90625vw;
  --space-80: 4.1666666667vw;
  --space-85: 4.4270833333vw;
  --space-90: 4.6875vw;
  --space-95: 4.9479166667vw;
  --space-100: 5.2083333333vw;
  --space-110: 5.7291666667vw;
  --space-120: 6.25vw;
  --space-130: 6.7708333333vw;
  --space-140: 7.2916666667vw;
  --space-150: 7.8125vw;
  --space-160: 8.3333333333vw;
  --space-170: 8.8541666667vw;
  --space-180: 9.375vw;
  --space-190: 9.8958333333vw;
  --space-200: 10.4166666667vw;
  /* Base colors */
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --lighten: #A5A5A5;
  --darken: #212121;
  --darken2: #464646;
  --darken3: #2A2A2A;
  --darken4: #292929;
  --darken-rgb: 33, 33, 33;
  --text-color: #161313;
  --scroll-color: #8d8d8d;
  --green: #00B533;
  --light-text: #AFAFAF;
  --bg-color: #212B36;
  --dialog-bg: #323D49;
  --btn-height: 3.5rem;
  --btn-width: 6.5625rem;
  --header-height: 3.125rem;
  --animation: 0.3s ease;
  --f1: inter, sans-serif;
  --f2: manrope, sans-serif;
}
@media (max-width: 1280px) {
  :root {
    /* Base font-size */
    --base-fz: 16;
    --f-min: 12;
    --f-min-px: 12px;
    --f-max: 16;
    --vw-min: 768;
    --vw-min-px: 768px;
    --vw-max: 1280;
    --header-height: 80px;
  }
}
@media (max-width: 639px), (max-height: 500px) {
  :root {
    /* Base font-size */
    --base-fz: 14;
    --f-min: 14;
    --f-min-px: 14px;
    --f-max: 14;
    --vw-min: 360;
    --vw-min-px: 360px;
    --vw-max: 768;
    /* Base spaces */
    --space-10: 5px;
    --space-15: 7.5px;
    --space-20: 10px;
    --space-25: 12.5px;
    --space-30: 15px;
    --space-35: 17.5px;
    --space-40: 20px;
    --space-45: 22.5px;
    --space-50: 25px;
    --space-55: 27.5px;
    --space-60: 30px;
    --space-65: 32.5px;
    --space-70: 35px;
    --space-75: 37.5px;
    --space-80: 40px;
    --space-85: 42.5px;
    --space-90: 45px;
    --space-95: 47.5px;
    --space-100: 50px;
    --space-110: 55px;
    --space-120: 60px;
    --space-130: 65px;
    --space-140: 70px;
    --space-150: 75px;
    --space-160: 80px;
    --space-170: 85px;
    --space-180: 90px;
    --space-190: 95px;
    --space-200: 100px;
  }
}

@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("~static/fonts/inter-200.woff2") format("woff2"), url("~static/fonts/inter-200.woff") format("woff");
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~static/fonts/inter-300.woff2") format("woff2"), url("~static/fonts/inter-300.woff") format("woff");
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~static/fonts/inter-regular.woff2") format("woff2"), url("~static/fonts/inter-regular.woff") format("woff");
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~static/fonts/inter-500.woff2") format("woff2"), url("~static/fonts/inter-500.woff") format("woff");
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~static/fonts/inter-600.woff2") format("woff2"), url("~static/fonts/inter-600.woff") format("woff");
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~static/fonts/inter-700.woff2") format("woff2"), url("~static/fonts/inter-700.woff") format("woff");
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("~static/fonts/inter-800.woff2") format("woff2"), url("~static/fonts/inter-800.woff") format("woff");
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("~static/fonts/inter-900.woff2") format("woff2"), url("~static/fonts/inter-900.woff") format("woff");
}
@font-face {
  font-family: "manrope";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~static/fonts/manrope-500.woff2") format("woff2"), url("~static/fonts/manrope-500.woff") format("woff");
}
@font-face {
  font-family: "manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~static/fonts/manrope-600.woff2") format("woff2"), url("~static/fonts/manrope-600.woff") format("woff");
}
@font-face {
  font-family: "manrope";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~static/fonts/manrope-700.woff2") format("woff2"), url("~static/fonts/manrope-700.woff") format("woff");
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clear-both {
  clear: both;
}

.no-wrap {
  white-space: nowrap;
}

.lh-0 {
  line-height: 0;
}

.text-ellipsis-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-ellipsis-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: var(--space-10);
}

.mb-15 {
  margin-bottom: var(--space-15);
}

.mb-20 {
  margin-bottom: var(--space-20);
}

.mb-25 {
  margin-bottom: var(--space-25);
}

.mb-30 {
  margin-bottom: var(--space-30);
}

.mb-35 {
  margin-bottom: var(--space-35);
}

.mb-40 {
  margin-bottom: var(--space-40);
}

.mb-45 {
  margin-bottom: var(--space-45);
}

.mb-50 {
  margin-bottom: var(--space-50);
}

.mb-55 {
  margin-bottom: var(--space-55);
}

.mb-60 {
  margin-bottom: var(--space-60);
}

.mb-65 {
  margin-bottom: var(--space-65);
}

.mb-70 {
  margin-bottom: var(--space-70);
}

.mb-75 {
  margin-bottom: var(--space-75);
}

.mb-80 {
  margin-bottom: var(--space-80);
}

.mb-85 {
  margin-bottom: var(--space-85);
}

.mb-90 {
  margin-bottom: var(--space-90);
}

.mb-95 {
  margin-bottom: var(--space-95);
}

.mb-100 {
  margin-bottom: var(--space-100);
}

.mb-110 {
  margin-bottom: var(--space-110);
}

.mb-120 {
  margin-bottom: var(--space-120);
}

.mb-130 {
  margin-bottom: var(--space-130);
}

.mb-140 {
  margin-bottom: var(--space-140);
}

.mb-150 {
  margin-bottom: var(--space-150);
}

.mb-160 {
  margin-bottom: var(--space-160);
}

.mb-170 {
  margin-bottom: var(--space-170);
}

.mb-180 {
  margin-bottom: var(--space-180);
}

.mb-190 {
  margin-bottom: var(--space-190);
}

.mb-200 {
  margin-bottom: var(--space-200);
}

.ml-0 {
  margin-left: 0;
}

.ml-10 {
  margin-left: var(--space-10);
}

.ml-15 {
  margin-left: var(--space-15);
}

.ml-20 {
  margin-left: var(--space-20);
}

.ml-25 {
  margin-left: var(--space-25);
}

.ml-30 {
  margin-left: var(--space-30);
}

.ml-35 {
  margin-left: var(--space-35);
}

.ml-40 {
  margin-left: var(--space-40);
}

.ml-45 {
  margin-left: var(--space-45);
}

.ml-50 {
  margin-left: var(--space-50);
}

.ml-55 {
  margin-left: var(--space-55);
}

.ml-60 {
  margin-left: var(--space-60);
}

.ml-65 {
  margin-left: var(--space-65);
}

.ml-70 {
  margin-left: var(--space-70);
}

.ml-75 {
  margin-left: var(--space-75);
}

.ml-80 {
  margin-left: var(--space-80);
}

.ml-85 {
  margin-left: var(--space-85);
}

.ml-90 {
  margin-left: var(--space-90);
}

.ml-95 {
  margin-left: var(--space-95);
}

.ml-100 {
  margin-left: var(--space-100);
}

.ml-110 {
  margin-left: var(--space-110);
}

.ml-120 {
  margin-left: var(--space-120);
}

.ml-130 {
  margin-left: var(--space-130);
}

.ml-140 {
  margin-left: var(--space-140);
}

.ml-150 {
  margin-left: var(--space-150);
}

.ml-160 {
  margin-left: var(--space-160);
}

.ml-170 {
  margin-left: var(--space-170);
}

.ml-180 {
  margin-left: var(--space-180);
}

.ml-190 {
  margin-left: var(--space-190);
}

.ml-200 {
  margin-left: var(--space-200);
}

:root {
  --container-lg: calc(50% - 56.25rem); /* 1800 */
  --container-md: calc(50% - 52.5rem); /* 1680 */
  --container-sm: calc(50% - 37.5rem); /* 1200 */
  --container-padding-sm: 15px;
  --container-padding-md: calc(var(--container-padding-sm) * 2);
  --container-padding-lg: calc(var(--container-padding-md) * 2);
}
@media (max-width: 1600px) {
  :root {
    --container-lg: 15px;
  }
}
@media (max-width: 1600px) {
  :root {
    --container-md: 2.5rem;
  }
}
@media (max-width: 1200px) {
  :root {
    --container-sm: 40px;
  }
}
@media (max-width: 1280px) {
  :root {
    --container-sm: 20px;
    --container-md: 15px;
  }
}
@media (max-width: 639px), (max-height: 500px) {
  :root {
    --container-sm: 20px;
    --container-md: 30px;
  }
}
@media (max-width: 430px) {
  :root {
    --container-sm: 10px;
    --container-md: 15px;
  }
}
@media (min-width: 850px) and (max-height: 500px) {
  :root {
    --container-sm: 30px;
    --container-md: 60px;
  }
}

.g-container-padding {
  padding-right: var(--container-padding-md);
  padding-left: var(--container-padding-md);
}

.g-container-padding--size {
  padding-right: var(--container-padding-lg);
  padding-left: var(--container-padding-lg);
}

.g-container--narrow,
.g-container--wide,
.g-container {
  padding-right: var(--container-md);
  padding-left: var(--container-md);
}

.g-container--left {
  padding-left: var(--container-md);
}

.g-container--right {
  padding-right: var(--container-md);
}

.g-container--wideRight {
  padding-right: var(--container-lg);
}

.g-container--wideLeft {
  padding-left: var(--container-lg);
}

.g-container--wide {
  padding-right: var(--container-lg);
  padding-left: var(--container-lg);
}

.g-container--narrowRight {
  padding-right: var(--container-sm);
}

.g-container--narrowLeft {
  padding-left: var(--container-sm);
}

.g-container--narrow {
  padding-right: var(--container-sm);
  padding-left: var(--container-sm);
}

html {
  overflow: visible !important;
}
html::-webkit-scrollbar {
  background-color: transparent;
  width: 0.625rem;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
}

body {
  min-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  font-feature-settings: "pnum" on, "lnum" on;
}
body .v-application {
  font-family: var(--f1);
}
body .theme--light.v-application {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f2);
  line-height: 1.5;
  font-weight: 500;
  color: inherit;
  margin-top: 0;
  margin-bottom: var(--space-25);
}

b {
  font-weight: 700;
}

.svg-wrap {
  line-height: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #E0E0E0;
  margin-top: var(--space-30);
  margin-bottom: var(--space-40);
}

textarea {
  font-family: var(--f1);
}

.layout-enter-active, .layout-leave-active,
.page-enter-active, .page-leave-active {
  transition: opacity 0.15s;
}

.layout-enter, .layout-leave-active,
.page-enter, .page-leave-to {
  opacity: 0;
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  overflow: hidden;
}

button:focus:not(.focus-visible) {
  outline: 5px auto -webkit-focus-ring-color;
}

.checkbox-hidden,
.visually-hidden:not(:focus),
input[type=file].visually-hidden:focus,
.main input[type=radio],
.v-application input[type=radio],
.main input[type=checkbox],
.v-application input[type=checkbox],
input[type=radio].hide,
input[type=checkbox].hide {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

.hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

details,
summary {
  list-style: none;
}

button {
  text-align: left;
}

summary::-webkit-details-marker {
  display: none;
}

svg:not(:root) {
  width: auto;
}

.layers-wrap svg,
.header svg {
  transition: all 0.2s;
}

svg.none-animation {
  transition: none;
}

body {
  padding-right: var(--scroll-width);
  color: var(--text-color);
  margin: 0;
}

body.using-mouse textarea:focus, body.using-mouse select:focus, body.using-mouse input:focus, body.using-mouse a:focus, body.using-mouse button:focus {
  outline: none;
}

textarea {
  resize: vertical;
}

.dlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1vh;
}

img {
  max-width: 100%;
  border-radius: 0;
  height: auto;
}

button {
  border: none;
  background: none;
}
button[disabled] {
  pointer-events: none;
  filter: grayscale(1);
}

label {
  font-weight: normal;
}

figure {
  margin: 0;
}

img[align=left] {
  margin: 1.5463917526vh 1.3020833333vw 1.0309278351vh 0;
}

img[align=right] {
  margin: 0.5154639175vh 0 1.0309278351vh 0.78125vw;
}

img[align=center] {
  margin: 0 auto 1.5463917526vh;
  display: block;
}

dt {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  transition: all 150ms;
}

html {
  font-size: calc((100vw - var(--vw-min-px)) / (var(--vw-max) - var(--vw-min)) * (var(--f-max) - var(--f-min)) + var(--f-min-px)) !important;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: "inter", "Arial", "Helvetica Neue", "sans-serif";
  line-height: 1.5;
}

a.g-btn,
.v-application .g-btn,
.g-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: var(--btn-height);
  min-width: var(--btn-width);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--green);
  color: var(--white);
  font-family: var(--f2);
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.33;
  cursor: pointer;
  transition: all var(--animation);
}
a.g-btn[href]:hover, a.g-btn:hover,
.v-application .g-btn[href]:hover,
.v-application .g-btn:hover,
.g-btn[href]:hover,
.g-btn:hover {
  background-color: #008225;
}
a.g-btn[href]:active, a.g-btn:active,
.v-application .g-btn[href]:active,
.v-application .g-btn:active,
.g-btn[href]:active,
.g-btn:active {
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.15s;
}
a.g-btn[disabled],
.v-application .g-btn[disabled],
.g-btn[disabled] {
  background-color: #777;
  opacity: 0.6;
  pointer-events: none;
}
a.g-btn--shadow,
.v-application .g-btn--shadow,
.g-btn--shadow {
  box-shadow: none;
}
a.g-btn--full-width,
.v-application .g-btn--full-width,
.g-btn--full-width {
  width: 100%;
}

.checkbox-b,
.radio-b {
  display: block;
  /* padding-left: 30px; */
  margin-top: 2.0618556701vh;
}
.checkbox-b input,
.radio-b input {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

.checkbox-b > label::before,
.radio-b > label::before,
.checkbox-b > label::after,
.radio-b > label::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 13px);
  width: 26px;
  height: 26px;
  box-shadow: 0 0 0 1px var(--darken2);
  background-color: transparent;
  border-radius: 5px;
  -webkit-transition: all 180ms ease;
  transition: all 180ms ease;
}

.radio-b > label::before {
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  left: 5px;
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--darken);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio-b > label::before,
.radio-b > label::after {
  border-radius: 30px;
}

.radio-b > input:checked + label::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.checkbox-b > label::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 18px;
  height: 18px;
  top: calc(50% - 9px);
  left: 4px;
  border: none;
  box-shadow: none;
}

.checkbox-b > input:checked + label::before {
  background-color: var(--green);
}

.checkbox-b > input:checked + label::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  background: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L5 9L1 5' stroke='white' stroke-width='1.4' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat center center;
}

.checkbox-b > label,
.radio-b > label {
  position: relative;
  cursor: pointer;
  padding-left: 2.1875rem;
  display: block;
}

.show-popup-message {
  --vertical-gap: 3.0927835052vh;
  --horizontal-gap: 5.1546391753vh;
  position: fixed;
  top: 4.1237113402vh;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: auto;
  padding: var(--vertical-gap) var(--horizontal-gap) 0;
  text-align: center;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  background-color: white;
  overflow: hidden;
  z-index: 99999;
  font-size: 1.125rem;
  overflow-wrap: break-word;
}
.show-popup-message::after {
  content: "";
  display: block;
  margin-top: var(--vertical-gap);
}
@media (max-width: 768px) {
  .show-popup-message {
    --vertical-gap: 30px;
    --horizontal-gap: 40px;
  }
}
@media only screen and (max-width: 599.98px) {
  .show-popup-message {
    width: 90%;
  }
}

.close-message-popup {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  padding: 0;
  border: none;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
}
.close-message-popup:hover {
  opacity: 0.4;
}

.g-input {
  height: var(--btn-height);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--darken);
  border: 1px solid var(--darken2);
  color: var(--white);
  border-radius: 8px;
  min-width: 100%;
  transition: box-shadow var(--animation);
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  /*&:-moz-autofill {
    -webkit-box-shadow: inset 0 0 0 70px transparent;
    -webkit-text-fill-color: var(--c6);
  }

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 70px transparent;
    -webkit-text-fill-color: transparent;
  }

  &:-internal-autofill-selected {
    box-shadow: 0 0 3px 1px rgba(black, 0.5);
    -webkit-text-fill-color: var(--c5);
  }*/
}
.g-input--font {
  font-weight: 600;
}
.g-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.g-input[readonly] {
  background-color: #E2ECF4;
  color: rgba(82, 86, 102, 0.4);
}
.g-input.input-error {
  border: 2px solid red;
}
.g-input[disabled] {
  background-color: #d2d2d2;
  opacity: 0.4;
  cursor: no-drop;
}
.g-input:focus {
  box-shadow: 0 0 3px 1px rgba(var(--white-rgb), 0.15);
}

textarea.g-input {
  padding-top: 0.6875rem;
  min-height: 9.375rem;
}

.arrow-select,
select {
  --move: 5px;
  --size: 4px;
  --color: currentColor;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--color) 50%), linear-gradient(135deg, var(--color) 50%, transparent 50%);
  background-position: calc(100% - (18px + var(--size) + var(--move))) calc(50% - 0px), calc(100% - (18px + var(--move))) calc(50% - 0px), calc(100% - 2.4em) 0.4em;
  background-size: var(--size) var(--size), var(--size) var(--size), 1px 1.5em;
  background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid white;
  background: none;
  -webkit-text-fill-color: var(--white) !important;
  -webkit-box-shadow: none;
  -webkit-box-shadow: transparent !important;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.notification-dialog {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0 5px 5px;
  padding: 10px;
  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;
}
.notification-dialog.success {
  background: #68CD86;
  border-left-color: #42A85F;
}
.notification-dialog.warn {
  background: #ffb648;
  border-left-color: #f48a06;
}
.notification-dialog.error {
  background: #E54D42;
  border-left-color: #B82E24;
}
.notification-dialog--custom {
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.notification-dialog--error {
  position: relative;
  border-radius: 8px;
}
.notification-dialog--error .notification-dialog__close {
  position: absolute;
  right: 5px;
  top: 5px;
}
.notification-dialog--error .notification-dialog__icon {
  align-self: flex-start;
  background-color: #B82E24;
}

.notification-dialog__text {
  margin-top: 0.75rem;
  font-weight: 300;
  font-size: 0.875rem;
}

.notification-dialog__title-wrap {
  display: flex;
  align-items: center;
  grid-gap: 0.625rem;
  padding-right: 1.875rem;
}

.notification-dialog__title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.notification-dialog__icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1FA378;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100px;
}

.notification-dialog__close {
  margin-left: auto;
  margin-right: 0.625rem;
  transition: all var(--animation);
}
.notification-dialog__close:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

body {
  font-size: 1.25em;
}

.header {
  display: block;
  width: 100%;
}

.header-wrapper {
  display: flex;
  padding: 0 var(--container-md);
}

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  min-width: 100%;
}
@media only screen and (max-width: 1263.98px) {
  .nav {
    display: none;
  }
}

.nav-list {
  display: flex;
  column-gap: 3.125rem;
}

.m-nav {
  display: none;
  flex-flow: row;
  justify-content: space-between;
  min-width: 100%;
}
@media only screen and (max-width: 1263.98px) {
  .m-nav {
    display: flex;
  }
}

.m-nav-list {
  display: none;
}

.m-nav__off-btn {
  display: none;
}

/*# sourceMappingURL=main.css.map */
