ul {
  list-style: none;
}

body {
  font-size: em(20);
}

.header {
  display: block;
  width: 100%;
}

.header-wrapper {
  display: flex;
  padding: 0 var(--container-md);
}

.nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  min-width: 100%;

  @media #{$md-and-down} {
    display: none;
  }
}

.nav-list {
  display: flex;
  column-gap: rem(50);
}

.m-nav {
  display: none;
  flex-flow: row;
  justify-content: space-between;

  min-width: 100%;

  @media #{$md-and-down} {
    display: flex;
  }
}

.m-nav-list     { display: none; }
.m-nav__off-btn { display: none; }
